/* Bedrock Layout
   Author: Matt Misselbeck, www.misselbeck.com
----------------------------------------------------------------------------------*/
/* =Base partial for shared variables and mixin library
----------------------------------------------------------------------------------*/
/* =Base Grid
----------------------------------------------------------------------------------*/
/* =Grid Functions
----------------------------------------------------------------------------------*/
body {
  width: 100%;
  *zoom: 1; }
  body:before, body:after {
    content: "";
    display: table; }
  body:after {
    clear: both; }

/* =Breakpoints
----------------------------------------------------------------------------------*/
/* =Sass Mixins
----------------------------------------------------------------------------------*/
/* =Mobile First
----------------------------------------------------------------------------------*/
header,
nav[role="navigation"],
#content,
#sidebar-first,
#sidebar-second,
footer {
  display: inline;
  float: left;
  width: 100%;
  margin: 0 0%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 20px 40px; }

#page {
  background: #eee; }

header {
  background: #fff; }

nav[role="navigation"] {
  background: #3b3b3b;
  padding: 10px 40px; }

#main {
  clear: both;
  background: #d3d3d3;
  overflow: hidden; }

#content {
  background: #efefef; }

#sidebar-first {
  background: #d3d3d3; }

#sidebar-second {
  background: blue; }

footer {
  clear: both;
  background: #3b3b3b; }

/* =Tablet-ish
----------------------------------------------------------------------------------*/
/* =Desktop
----------------------------------------------------------------------------------*/
@media screen and (min-width: 960px) {
  #page {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    background: #e3e3e3; }

  /* =One Column
  ----------------------------------------------------------*/
  #content {
    display: inline;
    float: left;
    width: 100%;
    margin: 0 0%; }

  /* =Two Column
  ----------------------------------------------------------*/
  .one-sidebar #content {
    display: inline;
    float: left;
    width: 75%;
    margin: 0 0%;
    margin-left: 25%;
    margin-bottom: -99999px;
    padding-bottom: 99999px; }

  .one-sidebar #sidebar-first {
    display: inline;
    float: left;
    width: 25%;
    margin: 0 0%;
    margin-left: -100%;
    margin-bottom: -99999px;
    padding-bottom: 99999px; }

  /* =Three Column
  ----------------------------------------------------------*/
  .two-sidebars #content {
    display: inline;
    float: left;
    width: 50%;
    margin: 0 0%;
    margin-left: 25%; }

  .two-sidebars #sidebar-first {
    display: inline;
    float: left;
    width: 25%;
    margin: 0 0%;
    margin-left: -75%; }

  #sidebar-second {
    display: inline;
    float: left;
    width: 25%;
    margin: 0 0%; } }
